name: CI

permissions:
  id-token: write
  contents: read

on:
  schedule:
    - cron: "11 7 * * *"
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v4
        id: py
        with:
          python-version: 3.12
          cache: uv

      - uses: astral-sh/setup-uv@v7

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - run: npm ci

      # TODO: 
      - run: uv run python scripts/scrape_powerbi.py